# Archivos y carpetas a ignorar
imagenes_generadas/
venv/
__pycache__/
*.pyc
*.pyo
*.DS_Store
~$*

# Dependencias
node_modules/

# Archivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Build y distribución (si tienes)
dist/
build/

# Variables de entorno (con claves secretas)
.env